<footer class="main-footer">
    <div class="main-footer__content">
        <div class="main-footer__head">
            <div class="main-footer__logo">
                <img src="assets/img/logo.png" alt="" class="main-footer__logo-img">
            </div>
            <div class="main-footer__social">
                <ul class="main-footer__social-menu">
                    <li class="main-footer__social-menu-item"><a routerLink="./home"><i class="fab fa-facebook-square"></i></a></li>
                    <li class="main-footer__social-menu-item"><a routerLink="./tienda"><i class="fab fa-instagram-square"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="main-footer__line"></div>

        <div class="main-footer__body">
            <div class="main-footer__newsletter">
                <h2 class="main-footer__newsletter-title">¡Únete a la familia tropicalisimo!</h2>
                <p class="main-footer__newsletter-text">Suscríbete a nuestro newsletter para recibir ofertas, especiales e información sobre nuestros productos.</p>
                <div class="main-footer__newsletter-input-group">
                    <input class="main-footer__newsletter-input-group-input" type="text" name="newsletter-mail" id="newsletter-mail" placeholder="Tu E-Mail">
                    <button class="main-footer__newsletter-input-group-btnsend">¡Únirme!</button>
                </div>
            </div>
            <div class="main-footer__products">
                <h2 class="main-footer__products-title">Productos</h2>
                <ul>
                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></li>
                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></li>
                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></li>
                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></li>
                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></li>
                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></li>
                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></li>
                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></li>
                </ul>
            </div>
            <div class="main-footer__menu">
                <h2 class="main-footer__menu-title">Menú</h2>
                <ul>
                    <li class="menu__item active"><a routerLink="./">Inicio</a></li>
                    <li class="menu__item"><a routerLink="./tienda">Tienda</a></li>
                    <li class="menu__item"><a routerLink="./nosotros">Nosotros</a></li>
                    <li class="menu__item"><a routerLink="./galeria">Galeria</a></li>
                    <li class="menu__item"><a routerLink="./contacto">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-footer__copyright">
        <p class="main-footer__copyright">© Steven Báez</p>
    </div>
</footer>
