<app-nav></app-nav>

<div class="main-wrap-contacto">
    <div class="contacto-info-side">
        <h1 class="main-title-contacto">Contacto</h1>
        <ul class="contacto-info-side__menu">
            <li class="contacto-info-side__menu-item">
                <i class="far fa-envelope contacto-info-side__menu-item-icon"></i>
                <span class="contacto-info-side__menu-item-span">jackson.graham@example.com</span>
            </li>
            <li class="contacto-info-side__menu-item">
                <i class="fas fa-map-marker-alt contacto-info-side__menu-item-icon"></i>
                <span class="contacto-info-side__menu-item-span">ul. Generała Ziętka Jerzego 54, Mysłowice 41-412</span>
            </li>
            <li class="contacto-info-side__menu-item">
                <i class="fas fa-phone-alt contacto-info-side__menu-item-icon"></i>
                <span class="contacto-info-side__menu-item-span">809-345-2434</span>
                <span class="contacto-info-side__menu-item-span">809-345-2434</span>
            </li>
        </ul>
        <div class="contacto-info-social">
            <li class="main-footer__social-menu-item"><a href=""><i class="fab fa-facebook-square"></i></a></li>
            <li class="main-footer__social-menu-item"><a href=""><i class="fab fa-instagram-square"></i></a></li>
        </div>
    </div>
    <div class="contacto-form-side">
        <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="contacto-form-side-input">
        <input type="text" name="correo" id="correo" placeholder="Correo" class="contacto-form-side-input">
        <select name="asunto" id="asunto" class="contacto-form-side-input option">
            <option value="">Options</option>
            <option value="option2">Option2</option>
            <option value="option3">Option3</option>
            <option value="option4">Option4</option>
        </select>
        <textarea name="mensaje" id="mensaje" cols="30" rows="10" placeholder="Mensaje" class="contacto-form-side-input area"></textarea>
    </div>
</div>
