<app-nav></app-nav>

<div class="main-wrap-contacto">
    <div class="contacto-info-side">
        <h1 class="main-title-contacto">Contacto</h1>
        <ul class="contacto-info-side__menu">
            <li class="contacto-info-side__menu-item">
                <i class="far fa-envelope contacto-info-side__menu-item-icon"></i>
                <span class="contacto-info-side__menu-item-span">jackson.graham@example.com</span>
            </li>
            <li class="contacto-info-side__menu-item">
                <<i class="fas fa-map-marker-alt contacto-info-side__menu-item-icon"></i>
                <span class="contacto-info-side__menu-item-span">jackson.graham@example.com</span>
            </li>
        </ul>
    </div>
</div>
