<app-nav></app-nav>

<div class="wrap-nosotros">
    <div class="nosotros-side-info">
        <h1 class="nosotros-main-title">¿Que es tropicalisimo?</h1>
        <p class="nosotros-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea amet quidem aut nostrum accusantium, asperiores veritatis beatae suscipit minus alias.
        </p>
    </div>
    <div class="nosotros-side-img">
        <img src="assets/img/nosotros.svg" alt="" class="nosotros-side-img-img">
    </div>
</div>
