<app-nav></app-nav>
<div class="main-wrap-galeria">
    <h1 class="main-title-galeria">Galeria</h1>
    <div class="wrap-grid-imgs">
        <img src="assets/img/galeria/img1.jpg" alt="" class="wrap-grid-imgs__img">
        <img src="assets/img/galeria/img2.jpg" alt="" class="wrap-grid-imgs__img">
        <img src="assets/img/galeria/img3.jpg" alt="" class="wrap-grid-imgs__img">
        <img src="assets/img/galeria/img4.jpg" alt="" class="wrap-grid-imgs__img">
        <img src="assets/img/galeria/img5.jpg" alt="" class="wrap-grid-imgs__img">
        <img src="assets/img/galeria/img6.jpg" alt="" class="wrap-grid-imgs__img">
        <img src="assets/img/galeria/img7.jpg" alt="" class="wrap-grid-imgs__img">
        <img src="assets/img/galeria/img8.jpg" alt="" class="wrap-grid-imgs__img">
        <img src="assets/img/galeria/img9.jpg" alt="" class="wrap-grid-imgs__img">
        <img src="assets/img/galeria/img10.jpg" alt="" class="wrap-grid-imgs__img">
        <img src="assets/img/galeria/img11.jpg" alt="" class="wrap-grid-imgs__img">
    </div>
</div>
