.wraper-cat-title
    width: 60%
    margin: auto
    text-align: center
    
.main-title-categoria
    font-size: 3em
    font-family: 'Raleway'
    margin-bottom: 30px
.wraper-cat
    text-align: center
    margin-bottom: 50px
.cat__button
    margin: 10px
    padding: 15px 20px
    border: none
    border-radius: 2px
    font-weight: bold
    color: #555
    letter-spacing: -.3px
    background: #eee
    transition: all .2s ease-out
    &.active
        background: #d62173
        color: #fff
    &:hover
        background: #ffd7e9
    &:active
        transform: scale(.9)
.wraper-products
    width: 100%
    background: #fefefe
.products
    width: 90%
    margin: auto
    display: grid
    grid-gap: 35px
    grid-template-columns: 1fr 1fr 1fr
    // overflow: hidden
.products__card
    // border: 1px solid #eee
    // box-shadow: 0px 0px 1px rgba(0, 0, 0, .8)
    border-radius: 8px
    background: #fff
.products__card-img
    width: 75%
    display: block
    margin: auto
.products__card-body
    padding: 20px
.products__card-name
    font-family: 'Raleway'
    color: #777
    font-size: 1.2em
    text-align: center
    padding: 0px 20px
    font-weight: 400
    line-height: 1.5em
    
    margin-bottom: 15px
.products__card-price
    font-family: 'Raleway'
    color: #d62173
    text-align: center
.products__card-btn-add-card
    display: none
.products__card-btn-view
    display: none

