<header class="tienda-header">
  <a href="" class="tienda-header__logo">
    <img src="assets/img/logo.png" alt="">
  </a>
  <nav class="tienda-header__nav">
    <div class="tienda-header__nav-btn-search">
      <i class="fas fa-search"></i>
    </div>
    <div class="tienda-header__nav-btn-cart">
      <i class="fas fa-shopping-cart"></i>
    </div>
  </nav>
</header>

<div class="wraper-cat-title">
  <div class="main-title-categoria">Categorias</div>
  <div class="wraper-cat">
    <button class="cat__button active">Categoria1</button>
    <button class="cat__button">Categoria2</button>
    <button class="cat__button">Categoria3</button>
    <button class="cat__button">Categoria4</button>
    <button class="cat__button">Categoria5</button>
  </div>
</div>

<div class="wraper-products">
  <div class="products">
    <div class="products__card">
      <img src="assets/img/producto1.jpg" alt="" class="products__card-img">
      <div class="products__card-body">
        <h2 class="products__card-name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</h2>
        <h3 class="products__card-price">RD$ 1,250.00</h3>
        <button class="products__card-btn-add-card">
          <i class="fas fa-shopping-cart"></i>
          <span>Agregar al carrito</span>
        </button>
        <button class="products__card-btn-view">
          <i class="far fa-eye"></i>
        </button>
      </div>
    </div>
    <div class="products__card">
      <img src="assets/img/producto2.jpg" alt="" class="products__card-img">
      <div class="products__card-body">
        <h2 class="products__card-name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</h2>
        <h3 class="products__card-price">RD$ 1,250.00</h3>
        <button class="products__card-btn-add-card">
          <i class="fas fa-shopping-cart"></i>
          <span>Agregar al carrito</span>
        </button>
        <button class="products__card-btn-view">
          <i class="far fa-eye"></i>
        </button>
      </div>
    </div>
    <div class="products__card">
      <img src="assets/img/producto3.jpg" alt="" class="products__card-img">
      <div class="products__card-body">
        <h2 class="products__card-name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</h2>
        <h3 class="products__card-price">RD$ 1,250.00</h3>
        <button class="products__card-btn-add-card">
          <i class="fas fa-shopping-cart"></i>
          <span>Agregar al carrito</span>
        </button>
        <button class="products__card-btn-view">
          <i class="far fa-eye"></i>
        </button>
      </div>
    </div>
    <div class="products__card">
      <img src="assets/img/producto4.jpg" alt="" class="products__card-img">
      <div class="products__card-body">
        <h2 class="products__card-name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</h2>
        <h3 class="products__card-price">RD$ 1,250.00</h3>
        <button class="products__card-btn-add-card">
          <i class="fas fa-shopping-cart"></i>
          <span>Agregar al carrito</span>
        </button>
        <button class="products__card-btn-view">
          <i class="far fa-eye"></i>
        </button>
      </div>
    </div>
    <div class="products__card">
      <img src="assets/img/producto5.jpg" alt="" class="products__card-img">
      <div class="products__card-body">
        <h2 class="products__card-name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</h2>
        <h3 class="products__card-price">RD$ 1,250.00</h3>
        <button class="products__card-btn-add-card">
          <i class="fas fa-shopping-cart"></i>
          <span>Agregar al carrito</span>
        </button>
        <button class="products__card-btn-view">
          <i class="far fa-eye"></i>
        </button>
      </div>
    </div>
    <div class="products__card">
      <img src="assets/img/producto6.jpg" alt="" class="products__card-img">

      <div class="products__card-body">
        <h2 class="products__card-name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</h2>
        <h3 class="products__card-price">RD$ 1,250.00</h3>
        <button class="products__card-btn-add-card">
          <i class="fas fa-shopping-cart"></i>
          <span>Agregar al carrito</span>
        </button>
        <button class="products__card-btn-view">
          <i class="far fa-eye"></i>
        </button>
      </div>
    </div>
  </div>
</div>