.main-nav
    display: inline-flex
    font-family: 'Raleway', sans-serif
.menu
    list-style: none
.menu__item
    display: inline-block
    margin: 10px
    &.active a
        color: #d62173
        font-weight: bold
    & a
        display: block
        text-decoration: none
        color: #222
        text-transform: uppercase
