<app-header-tienda></app-header-tienda>

<div class="wrap-main-product">
    <div class="product-router">
        <p class="product-router-text">
            <span class="product-router-text-block active"><a routerLink="/tienda">Tienda</a> </span>
            <span class="product-router-text-separator">/</span>
            <span class="product-router-text-block">{{idProd}}</span>
        </p>
    </div>
    <div class="wrap-product">
        <div class="product__side-info">
            <h1 class="product__side-info-name">{{dataProd[0]?.nombre_prod}}</h1>
            <h2 class="product__side-info-price">{{dataProd[0]?.precio_prod}}</h2>
            <h3 class="product__side-info-desc">{{dataProd[0]?.descripcion_prod}}</h3>
            <div class="wrap-product-btns">
                <button class="product__side-info-btn-add-cart">Agregar al carrito</button>
                <div class="product__side-info-btn-amount">
                    <i class="fas fa-minus"></i>
                    <input type="text" value="1">
                    <i class="fas fa-plus"></i>
                </div>

            </div>
        </div>
        <div class="product__side-img">
            <img src="{{dataProd[0].imgs[0]?.url_img}}" class="product__side-img__img"  alt="">
            <div class="product__side-img__nav">
                <img *ngFor="let imgs of dataProd[0]?.imgs" alt="" src="{{imgs.url_img}}">
            </div>
        </div>
    </div>
</div>


