.main-header
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0px 50px
.main-header__logo
    & img
        width: 128px
.wrap-main-banner
    background-image: url(../../assets/img/banner-bg.svg)
    background-size: cover
    background-position: center center
    min-height: 700px
    width: 100%
.main-banner-title
    font-family: 'Raleway', sans-serif
    font-size: 3.5em
    width: 50%
    font-weight: normal
    margin-left: 50px
.main-banner-title__highlighted
    color: #56a263
.social-media
    margin-left: 50px
    & a 
        text-decoration: none
        color: #555
        margin: 10px
        & i 
            font-size: 2em
.wraper-three-main-card-inf
    display: flex
    align-items: center
    justify-content: center
    padding: 50px 0px
    width: 100%
.main-card-inf
    width: 25%
    margin: 20px
    padding: 50px 20px
    box-shadow: 0px 1px 8px rgba(0, 0, 0, .1)
    min-height: 350px
    border-radius: 5px
    background: #fcfcfc
.main-card-inf__img
    width: 90px
    display: block
    margin: 0 auto
    margin-bottom: 25px
.main-card-inf__title
    color: #56a263
    text-align: center
    font-family: 'Raleway'
    font-weight: 500
    margin-bottom: 15px
.main-card-inf-text
    font-family: 'Roboto'
    color: #888
    font-size: 1.2em
    letter-spacing: 1px
    line-height: 1.5em
    margin: 0px 20px
