
<div class="wrap-main-banner">  
    <app-nav></app-nav>

    <div class="main-banner">
        <h1 class="main-banner-title typed"></h1>
        <div class="social-media">
            <a href="">
                <i class="fab fa-instagram-square"></i>
            </a>
            <a href="">
                <i class="fab fa-facebook-square"></i>
            </a>
        </div>
        <img src="assets/img/tropical.svg" alt="" class="main-banner-tropical-img">
    </div>
</div>
<div class="wraper-three-main-card-inf">
    <div class="main-card-inf">
        <img src="assets/img/quality.svg" alt="" class="main-card-inf__img">
        <h2 class="main-card-inf__title">Lorem, ipsum dolor.</h2>
        <div class="main-card-inf-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis veniam adipisci quaerat numquam sed iusto.
        </div>
    </div>
    <div class="main-card-inf">
        <img src="assets/img/natural.svg" alt="" class="main-card-inf__img">
        <h2 class="main-card-inf__title">Lorem, ipsum dolor.</h2>
        <div class="main-card-inf-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis veniam adipisci quaerat numquam sed iusto.
        </div>
    </div>
    <div class="main-card-inf">
        <img src="assets/img/hair.svg" alt="" class="main-card-inf__img">
        <h2 class="main-card-inf__title">Lorem, ipsum dolor.</h2>
        <div class="main-card-inf-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis veniam adipisci quaerat numquam sed iusto.
        </div>
    </div>
</div>
<!-- <div class="paralax">

</div> -->
<!-- 
<div class="second-banner">
    <div class="second-banner-title">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</div>
</div> -->

<div class="wraper-products">
    <div class="wraper-products__title">Productos</div>

    <div class="product">
        <div class="product__img-container"><img src="assets/img/shampoo_hidratante.png" alt="" class="product__img"></div>
        <div class="product__info">
            <h2 class="product__info-name">Lorem ipsum dolor sit.</h2>
            <h3 class="product_info-mini-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, ab perspiciatis.</h3>
            <p class="product__info-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolorem, architecto facilis soluta ad asperiores?</p>
            <a routerLink="" class="product__info-linkprod">
                <span>Más Info.</span>
                <i class="fas fa-arrow-right"></i>
            </a>
        </div>
    </div>
    <div class="product">
        <div class="product__img-container"><img src="assets/img/mascarilla_hidratante.png" alt="" class="product__img"></div>
        <div class="product__info">
            <h2 class="product__info-name">Lorem ipsum dolor sit.</h2>
            <h3 class="product_info-mini-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, ab perspiciatis.</h3>
            <p class="product__info-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolorem, architecto facilis soluta ad asperiores?</p>
            <a routerLink="" class="product__info-linkprod">
                <span>Más Info.</span>
                <i class="fas fa-arrow-right"></i>
            </a>
        </div>
    </div>
    <div class="product">
        <div class="product__info">
            <h2 class="product__info-name">Lorem ipsum dolor sit.</h2>
            <h3 class="product_info-mini-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, ab perspiciatis.</h3>
            <p class="product__info-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolorem, architecto facilis soluta ad asperiores?</p>
            <a routerLink="" class="product__info-linkprod">
                <span>Más Info.</span>
                <i class="fas fa-arrow-right"></i>
            </a>
        </div>
        <div class="product__img-container"><img src="assets/img/leavein_hidratante.png" alt="" class="product__img"></div>
    </div>
    <div class="product">
        <div class="product__img-container"><img src="assets/img/gotero.png" alt="" class="product__img"></div>
        <div class="product__info">
            <h2 class="product__info-name">Lorem ipsum dolor sit.</h2>
            <h3 class="product_info-mini-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, ab perspiciatis.</h3>
            <p class="product__info-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolorem, architecto facilis soluta ad asperiores?</p>
            <a routerLink="" class="product__info-linkprod">
                <span>Más Info.</span>
                <i class="fas fa-arrow-right"></i>
            </a>
        </div>
    </div>
</div>

<app-footer></app-footer>